.app-container {
  display: flex;
}

.main-content {
  width: 100%;
  transition: margin-left 0.3s ease;
  min-height: 100vh;
  background: #f8f9fa; /* mesma cor do dashboard */
}

main {
  transition: all 0.3s ease;
}
